@CHARSET "UTF-8";

@font-face
{
    font-family					: montserrat-bold;
    src							: url(../font/montserrat/Montserrat-Bold.otf);
}

body
{ 
	font-family					: montserrat-bold;
}

.header
{
	background-image			: url(../img/header_accueil.jpg);
	//background-repeat			  : no-repeat;
	height						: 400px;
	width 						: 100%;
}

.marginHeader
{
	margin-left 				: 4%;
	padding-top 				: 30px;
	width 						: 92%;
}

.container
{
	width 						: 92%;
	margin-top 					: 100px;
}

.titleBar
{
	border						:solid 8px #AAA;
	//width 					  : 5%;
}

#helloContainer
{
	margin-bottom 				: 150px;
}

.title
{
	padding-left 				: 0;
}

.title h1
{
	font-family					: montserrat 700;
	font-size					: 45px;
}

#helloText
{
	font-family					: montserrat 700;
	font-size					: 40px;
	line-height 				: 50px;
	margin-top					: 16px;
}

.footer {
    background-image			: url(../img/header_accueil.jpg);
	height						: 80px;
	width 						: 100%;
}